<html>
    <head>
	<title>Available FOs</title>
    </head>
    
    <body>
	<center>
	Welcome Mr {{user_name}}<br/>
	Total Balance is : Rs {{tot_bal1}}.00<br/>
	Net Withdrawl Balance is : Rs {{nw_bal1}}.00<br/>
	FO Balance is : Rs {{fo_bal1}}.00<br/>
	  <h1>FOs</h1>
	  <table border="1">
	  	<form id="form2" name="form2" method="post" action="/cooperative_Bank/fm/Thank2" onsubmit=" ";>
	      {% if fo_list %}
		  <tr>
		      <th>ID </th>
		      <th>FO Name</th>
		      <th>Cost</th>     
		      <th>Quantity Available</th>     
		  </tr>
		  <ul>
		  {% for fo in fo_list %}
		  <tr>
		      <td>
			<a href="/fm/fos/{{ fo.fo_ID }}/">{{ fo.fo_ID }}</a>
		      </td>
		      <td>
			<a href="/fm/fos/{{ fo.fo_Name }}/">{{ fo.fo_Name }}</a>
		      </td>
		      <td>
			{{ fo.fo_cost }}
		      </td>
		      <td>
			{{ fo.fo_Qty }}
		      </td>
		        <td> <input type="text"  name="abcd{{ forloop.counter }}" id="choice{{ forloop.counter }}"/>
		      	    </td>
		      	     <td><input type="hidden" name="abc{{ forloop.counter }}" value="{{ fo.fo_ID }}"/></td>
		  </tr>
		    {% endfor %}
		    </ul>
		{% else %}
		  <p>No Mutual Funds are available.</p>
		{% endif %}
	  </table>
	  <input type="submit" value="Submit" />
	  </form>
	</center>
    </body>
</html>