<html>
	<head> <title> Login Page </title> </head> 
	<body>
	  <center>
		<h1>Welcome to The Praveen Bank</h1>
		<form name="input" action="/cooperative_Bank/fm/user" method="post" >{% csrf_token %} UserId:
			<input type="text" name="user_id" {{user_id}}/></br>
			<input type="submit" value="Login" />
		</form>
	  </center>
	</body>
</html>