<html>
    <head>
	<title>Available Mutual Funds</title>
    </head>
    
    <body>
    	{% if counter == 1 %}
    	 hello {{total}}
    	{% endif %}
    	user_id {{user_id1}}
    	mf_bal1 {{mf_bal1}}
    	
    	<form id="form2" name="form2" method="post" action="/cooperative_Bank/fm/MF" onsubmit=" ";>
    		 <input type="submit" value="MF" />
    		</form>
    		<form id="form3" name="form3" method="post" action="/cooperative_Bank/fm/FO" onsubmit=" ";>
    		 <input type="submit" value="FO" />
    		</form>
    		<form id="form4" name="form4" method="post" action="/cooperative_Bank/fm/IPO" onsubmit=" ";>
    		 <input type="submit" value="IPO" />
    		</form>
    </body></html>